@media  only screen and (max-width: 599px)
	body {
		background-color: blue;
	}

@media  only screen and (min-width: 600px)
	body {
		background-color: red;
	}




.titles {
	text-align: center;
	color: green;
}

.smalltitles {
	color: purple;
	text-decoration: underline;
}

table.table1 {
    border: 1px solid black;
    border-collapse: collapse;
}

table.table2 {
	border: 1px solid black;
    border-collapse: collapse;
}
