@media (max-width: 599px)
	body {
		background-color: blue;
	}

@media (min-width: 600px)
	body {
		background-color: red;
	}

$color: red;

$linkcolor: blue;

.listy {
	color: $color
}

#complink {
	color: $linkcolor
}


.titles {
	text-align: center;
	color: green;
}

.smalltitles {
	color: purple;
	text-decoration: underline;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
